include *.txt
include *.md
include *.pkl
recursive-include ./obesity_model *

include obesity_model/datasets/titanic.csv
include obesity_model/datasets/test.csv
include obesity_model/trained_models/*.pkl
include obesity_model/VERSION
include obesity_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]